@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.collection {
    border: none;
}

.collection li {
    border: 1px solid #e0e0e0;
    margin-bottom: 0.4rem;
}

span {
    display: block;
}

.nota {
    color: #1976d2;
    font-size: 1.2em;
    margin: 4px 0 4px 10px;
}

.fecha {
    font-size: 0.8em;
    margin-left: 5px;
}

.eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 3rem;
    width: 3rem;
    background-color: crimson;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    bottom: 3.3rem;
    right: 0.5rem;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.eliminar:hover {
    background-color: rgb(245, 20, 60);
}

.bi-trash {
    color: white;
}

.editar {
    float: right;
    position: relative;
    padding-top: 4px;
    height: 3rem;
    right: 1rem;
    bottom: 3.3rem;
    border-radius: 4px;
}